section, article, header {
  display: block; }

#templates {
  display: none; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  overflow: hidden;
  font-family: ubuntu, sans-serif;
  color: #333; }

body.drawing {
  cursor: crosshair; }

body > nav {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.5em;
  color: #ddd;
  background: #333333;
  border-radius: 0 0 0 10px; }

body > section#map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

body > section#map .entry {
  position: absolute; }

/* navigation */
body > nav > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none; }
  body > nav > ul li {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
    background-repeat: no-repeat;
    cursor: pointer; }
  body > nav > ul li.new.note {
    background-image: url(icons/note_add.png); }
  body > nav > ul li.new.idea {
    background-image: url(icons/lightbulb_add.png); }
  body > nav > ul li.new.plain {
    background-image: url(icons/map_add.png); }
  body > nav > ul li.reset-zoom {
    background-image: url(icons/zoom.png); }
  body > nav > ul li.cleanup {
    background-image: url(icons/wrench.png); }
  body > nav > ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px; }

/* editor */
body #editor {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(50, 50, 50, 0.9); }
  body #editor.note h1 {
    background-image: url(icons/note.png); }
  body #editor.idea h1 {
    background-image: url(icons/lightbulb.png); }
  body #editor.plain h1 {
    background-image: url(icons/map.png); }
  body #editor h1 {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 11;
    color: #fff;
    font-weight: normal;
    padding: 0 0 0 25px;
    margin: 0;
    background-position: left center;
    background-repeat: no-repeat; }
  body #editor nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    padding: 5px; }
    body #editor nav ul {
      padding: 0;
      margin: 0; }
    body #editor nav li {
      display: inline-block;
      width: 16px;
      height: 16px;
      padding: 5px;
      text-indent: -10000px;
      cursor: pointer; }
    body #editor nav li.save {
      background: url(icons/disk.png) no-repeat center center; }
    body #editor nav li.close {
      background: url(icons/cross.png) no-repeat center center; }
  body #editor textarea {
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 20px;
    right: 20px;
    padding: 5px;
    border: none; }

/* entry frame */
.entry {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid; }

.entry::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid; }

.entry > textarea {
  font-size: inherit;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 5px;
  border: none;
  background-color: inherit; }

article.entry {
  font-size: 0.77em; }

article.entry > header > h1 {
  font-size: 1em; }

article.entry > header > ul.tags {
  font-size: 0.9em; }

.entry > header {
  display: table;
  margin: -10px 24px 10px -10px;
  padding: 0.2em 0.4em 0.2em 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px 0 5px 0;
  background: url(icons/map.png) no-repeat 4px 50%; }

/* the special hover styles will override the color scheme styles because the selector is more specific */
.entry > header:not(:hover) {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-top-left-radius: 0; }

/* entity title and tag list */
.entry > header > h1 {
  font-size: 1.25em;
  margin: 0;
  padding: 0; }

.entry > header > ul.tags {
  margin: 0;
  padding: 0;
  list-style: none; }

.entry > header > ul.tags::before {
  content: 'Tags: '; }

.entry > header > ul.tags > li {
  display: inline; }

.entry > header > ul.tags > li::after {
  content: ', '; }

.entry > header > ul.tags > li:last-child::after {
  content: ''; }

/* radial action menu */
.entry > aside > ul.actions {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-radius: 0 0 0 5px;
  background: url(icons/wrench.png) no-repeat center center; }
  .entry > aside > ul.actions li {
    display: none; }

.entry > aside > ul.actions:hover {
  z-index: 3;
  width: 72px;
  height: 72px;
  right: -24px;
  top: -24px;
  border-width: 0;
  border-radius: 50%; }
  .entry > aside > ul.actions:hover::before {
    content: '';
    position: absolute;
    z-index: 4;
    left: 22px;
    top: 22px;
    right: 22px;
    bottom: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
    border-radius: 50%;
    background: inherit; }
  .entry > aside > ul.actions:hover li {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    text-indent: -10000px;
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
    cursor: pointer; }
  .entry > aside > ul.actions:hover li {
    -moz-box-sizing: border-box; }
  .entry > aside > ul.actions:hover li:hover {
    z-index: 2; }
  .entry > aside > ul.actions:hover li.create, .entry > aside > ul.actions:hover li.edit, .entry > aside > ul.actions:hover li.save {
    top: 0;
    left: 0;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    height: 37px; }
  .entry > aside > ul.actions:hover li.abort, .entry > aside > ul.actions:hover li.close, .entry > aside > ul.actions:hover li.delete {
    bottom: 0;
    left: 0;
    border-radius: 0 0 50% 50%/0 0 100% 100%; }
  .entry > aside > ul.actions:hover li.create {
    background: url(icons/disk.png) no-repeat 50% 3px; }
  .entry > aside > ul.actions:hover li.abort {
    background: url(icons/cross.png) no-repeat 50% 16px; }
  .entry > aside > ul.actions:hover li.edit {
    background: url(icons/pencil.png) no-repeat 50% 3px; }
  .entry > aside > ul.actions:hover li.save {
    background: url(icons/disk.png) no-repeat 50% 3px; }
  .entry > aside > ul.actions:hover li.close {
    background: url(icons/cross.png) no-repeat 50% 16px; }
  .entry > aside > ul.actions:hover li.delete {
    background: url(icons/delete.png) no-repeat 50% 16px; }

/* states of the radial menu (edit menu, create menu, etc.) */
.entry > aside > ul.actions:hover > li {
  display: block; }

.entry:not(.editing):not(.creating) > aside > ul.actions > li:not(.edit):not(.delete) {
  display: none; }

.entry.editing > aside > ul.actions > li:not(.save):not(.close) {
  display: none; }

.entry.creating > aside > ul.actions > li:not(.create):not(.abort) {
  display: none; }

/* content styles for entries */
.entry > div > *:first-child {
  margin-top: 0; }
.entry > div > *:last-child {
  margin-bottom: 0; }
.entry > div h1, .entry > div h2, .entry > div h3, .entry > div h4, .entry > div h5, .entry > div h6 {
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0; }
.entry > div h1 {
  font-size: 1.25em; }
.entry > div h2 {
  font-size: 1em; }
.entry > div h3 {
  font-size: 1em;
  font-weight: normal; }
.entry > div ul, .entry > div ol {
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0; }
.entry > div li > ul, .entry > div li > ol {
  margin: 0.25em 0 0.25em 1.5em; }
.entry > div p {
  margin: 0.5em 0; }
.entry > div a {
  color: #3d5214; }
.entry > div a:hover, .entry > div a:focus {
  color: #5c7a1f; }
.entry > div a:active {
  color: #99cc33; }

/* color schemes for entries */
.entry.entry {
  background-color: #f2f2f2;
  border-color: #bfbfbf; }
  .entry.entry > header, .entry.entry > aside > ul.actions {
    background-color: #bfbfbf; }
  .entry.entry::before, .entry.entry > header, .entry.entry > aside > ul.actions {
    border-color: gray; }
  .entry.entry > header:hover, .entry.entry > aside > ul.actions:hover > li:hover {
    border-color: #999999;
    background-color: #d9d9d9; }
  .entry.entry > header:active, .entry.entry > aside > ul.actions:hover > li:active {
    border-color: #666666;
    background-color: #a6a6a6; }
  .entry.entry > header {
    background-image: url(icons/map.png); }

.entry.idea {
  background-color: #f5faeb;
  border-color: #cce699; }
  .entry.idea > header, .entry.idea > aside > ul.actions {
    background-color: #cce699; }
  .entry.idea::before, .entry.idea > header, .entry.idea > aside > ul.actions {
    border-color: #99cc33; }
  .entry.idea > header:hover, .entry.idea > aside > ul.actions:hover > li:hover {
    border-color: #add65c;
    background-color: #e0f0c2; }
  .entry.idea > header:active, .entry.idea > aside > ul.actions:hover > li:active {
    border-color: #7aa329;
    background-color: #b8db70; }
  .entry.idea > header {
    background-image: url(icons/lightbulb.png); }

.entry.note {
  background-color: #fdf9e7;
  border-color: #f5e389; }
  .entry.note > header, .entry.note > aside > ul.actions {
    background-color: #f5e389; }
  .entry.note::before, .entry.note > header, .entry.note > aside > ul.actions {
    border-color: #ecc813; }
  .entry.note > header:hover, .entry.note > aside > ul.actions:hover > li:hover {
    border-color: #f0d342;
    background-color: #f9eeb8; }
  .entry.note > header:active, .entry.note > aside > ul.actions:hover > li:active {
    border-color: #bda00f;
    background-color: #f2d85a; }
  .entry.note > header {
    background-image: url(icons/note.png); }

/* resizer and other interactive stuff */
section#map .resizer {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 10px;
  height: 10px;
  background: url(/styles/resizer.png) no-repeat right bottom;
  cursor: se-resize; }

#region-draft {
  position: absolute;
  background: #d9d9d9;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  z-index: 10; }

#region-draft {
  -webkit-box-shadow: 0 0 10px black; }

/* large cleanup style for entries */
body.cleanup .entry {
  border-width: 1.5em;
  border-radius: 0;
  padding: 0 0 5em 0; }
body.cleanup .entry::before {
  border-width: 0;
  border-radius: 3px; }
body.cleanup .entry > header {
  display: block;
  z-index: 2; }
body.cleanup .entry > div, body.cleanup .entry > header > ul {
  display: none; }
body.cleanup section.entry > header > h1 {
  font-size: 7.5em;
  z-index: 1; }
body.cleanup article.entry > header > h1 {
  font-size: 5em;
  text-align: center; }
body.cleanup .entry > aside > ul {
  display: none; }
body.cleanup .entry > aside {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em; }
body.cleanup section#map .resizer {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #9fdf9f;
  width: auto;
  height: auto; }

/* Smileys */
span.smiley {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -10000px;
  background-repeat: no-repeat;
  background-position: center center; }

span.smiley.smile {
  background-image: url(smilies/emoticon_smile.png); }

span.smiley.wink {
  background-image: url(smilies/emoticon_wink.png); }

span.smiley.surprised {
  background-image: url(smilies/emoticon_surprised.png); }

span.smiley.grin {
  background-image: url(smilies/emoticon_grin.png); }

span.smiley.happy {
  background-image: url(smilies/emoticon_happy.png); }

span.smiley.tongue {
  background-image: url(smilies/emoticon_tongue.png); }

span.smiley.evilgrin {
  background-image: url(smilies/emoticon_evilgrin.png); }

span.smiley.waii {
  background-image: url(smilies/emoticon_waii.png); }

span.smiley.unhappy {
  background-image: url(smilies/emoticon_unhappy.png); }
