section, article, header { display: block; }
#templates { display: none; }

html, body { margin: 0; padding: 0; width: 100%; height: 100%; }
body { overflow: hidden; font-family: ubuntu, sans-serif; color: #333; }

body > nav { position: absolute; z-index: 2; top: 0; right: 0; margin: 0; padding: 0.5em; color: #ddd; background: hsl(0, 0%, 20%); border-radius: 0 0 0 10px; }
body > section#map { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; }
body > section#map .entry { position: absolute; }

/* navigation */
body > nav > ul {
	display: inline-block; margin: 0; padding: 0; list-style: none;
	
	li { display: inline-block; width: 16px; height: 16px; text-indent: -10000px; background-repeat: no-repeat; cursor: pointer; }
	li.new.note { background-image: url(icons/note_add.png); }
	li.new.idea { background-image: url(icons/lightbulb_add.png); }
	li.new.plain { background-image: url(icons/map_add.png); }
	li.reset-zoom { background-image: url(icons/zoom.png); }
	
	li:hover { background-color: hsla(0, 0%, 100%, 0.25); border-radius: 3px; }
}


.entry { position: relative; z-index: 1; margin: 0; padding: 10px;
	border-radius: 5px; border-width: 3px; border-style: solid; }
.entry::before { content: ''; position: absolute; z-index: -1; top: 0; left: 0; bottom: 0; right: 0;
	border-radius: 3px; border-width: 1px; border-style: solid; }

.entry > textarea { font-size: inherit; font-family: sans-serif;
	position: absolute; top: 0; left: 0; z-index: 2;
	margin: 0; padding: 5px; border: none;
	background-color: inherit; }

article.entry { font-size: 0.77em; }
article.entry > header > h1 { font-size: 1em; }
article.entry > header > ul.tags { font-size: 0.9em; }


.entry > header { display: table; margin: -10px 24px 10px -10px; padding: 0.2em 0.4em 0.2em 25px;
	border-width: 1px; border-style: solid; border-radius: 5px 0 5px 0;
	background: url(icons/map.png) no-repeat 4px 50%; }
/* the special hover styles will override the color scheme styles because the selector is more specific */
.entry > header:not(:hover) { border-top-color: transparent !important; border-left-color: transparent !important; border-top-left-radius: 0; }

/* entity title and tag list */
.entry > header > h1 { font-size: 1.25em; margin: 0; padding: 0; }
.entry > header > ul.tags { margin: 0; padding: 0; list-style: none; }
.entry > header > ul.tags::before { content: 'Tags: '; }
.entry > header > ul.tags > li { display: inline; }
.entry > header > ul.tags > li::after { content: ', '; }
.entry > header > ul.tags > li:last-child::after { content: ''; }

/* radial action menu */
.entry > aside > ul.actions {
	position: absolute; right: 0; top: 0; width: 24px; height: 24px; margin: 0; padding: 0;
	list-style: none; border-width: 0 0 1px 1px; border-style: solid; border-radius: 0 0 0 5px;
	background: url(icons/wrench.png) no-repeat center center;
	
	li { display: none; }
}

.entry > aside > ul.actions:hover {
	z-index: 3; width: 72px; height: 72px; right: -24px; top: -24px;
	border-width: 0; border-radius: 50%;
	
	&::before { content: ''; position: absolute; z-index: 4; left: 22px; top: 22px; right: 22px; bottom: 22px;
		border-style: solid; border-width: 1px; border-color: inherit; border-radius: 50%; background: inherit; }
	
	li { position: absolute; box-sizing: border-box; width: 100%; height: 50%;
		text-indent: -10000px; border-style: solid; border-width: 1px; border-color: inherit; cursor: pointer; }
	li { -moz-box-sizing: border-box; }
	li:hover { z-index: 2; }
	
	li.create, li.edit, li.save { top: 0; left: 0; border-radius: 50% 50% 0 0 / 100% 100% 0 0; height: 37px; }
	li.abort, li.close, li.delete { bottom: 0; left: 0; border-radius: 0 0 50% 50% / 0 0 100% 100%; }
	
	li.create { background: url(icons/disk.png) no-repeat 50% 3px; }
	li.abort { background: url(icons/cross.png) no-repeat 50% 16px; }
	li.edit { background: url(icons/pencil.png) no-repeat 50% 3px; }
	li.save { background: url(icons/disk.png) no-repeat 50% 3px; }
	li.close { background: url(icons/cross.png) no-repeat 50% 16px; }
	li.delete { background: url(icons/delete.png) no-repeat 50% 16px; }
}

/* states of the radial menu (edit menu, create menu, etc.) */
.entry > aside > ul.actions:hover > li { display: block; }
.entry:not(.editing):not(.creating) > aside > ul.actions > li:not(.edit):not(.delete) { display: none; }
.entry.editing > aside > ul.actions > li:not(.save):not(.close) { display: none; }
.entry.creating > aside > ul.actions > li:not(.create):not(.abort) { display: none; }

/* content styles for entries */
.entry > div {
	& > *:first-child { margin-top: 0; }
	& > *:last-child { margin-bottom: 0; }
	
	h1 { font-size: 1.25em; margin: 0.5em 0; padding: 0; }
	ul { margin: 0.5em 0 0.5em 1.5em; padding: 0; }
	p { margin: 0.5em 0; }
	a { color: hsl(80, 60%, 20%); }
	a:hover, a:focus { color: hsl(80, 60%, 30%); }
	a:active { color: hsl(80, 60%, 50%); }
}


/* color schemes for entries */
@mixin entry-color-scheme($class, $base-color, $icon) {
	$entry-background: change-color($base-color, $lightness: 95%);
	$entry-border: change-color($base-color, $lightness: 75%);
	$content-border: change-color($base-color, $lightness: 50%);
	$hover-background: lighten($entry-border, 10%);
	$hover-border: lighten($content-border, 10%);
	$active-background: darken($entry-border, 10%);
	$active-border: darken($content-border, 10%);
	
	.entry.#{$class} {
		background-color: $entry-background; border-color: $entry-border;
		
		& > header, & > aside > ul.actions { background-color: $entry-border; }
		&::before, & > header, & > aside > ul.actions { border-color: $content-border; }
		& > header:hover, & > aside > ul.actions:hover > li:hover { border-color: $hover-border; background-color: $hover-background; }
		& > header:active, & > aside > ul.actions:hover > li:active { border-color: $active-border; background-color: $active-background; }
		
		& > header { background-image: $icon; }
	}
}

@include entry-color-scheme( 'entry', hsl(0, 0%, 50%), url(icons/map.png) );
@include entry-color-scheme( 'idea', hsl(80, 60%, 50%), url(icons/lightbulb.png) );
@include entry-color-scheme( 'note', hsl(50, 85%, 50%), url(icons/note.png) );

/* resizer and other interactive stuff */
section#map .resizer { position: absolute; right: 2px; bottom: 2px; width: 10px; height: 10px;
	background: url(/styles/resizer.png) no-repeat right bottom; cursor: se-resize; }

#region-draft { position: absolute; background: hsl(0, 0%, 85%); border-radius: 5px; box-shadow: 0 0 10px black; z-index: 10; }
#region-draft { -webkit-box-shadow: 0 0 10px black; }

/* Smileys */
span.smiley { display: inline-block; width: 16px; height: 16px; text-indent: -10000px; background-repeat: no-repeat; background-position: center center; }
span.smiley.smile { background-image: url(smilies/emoticon_smile.png); }
span.smiley.wink { background-image: url(smilies/emoticon_wink.png); }
span.smiley.surprised { background-image: url(smilies/emoticon_surprised.png); }
span.smiley.grin { background-image: url(smilies/emoticon_grin.png); }
span.smiley.happy { background-image: url(smilies/emoticon_happy.png); }
span.smiley.tongue { background-image: url(smilies/emoticon_tongue.png); }
span.smiley.evilgrin { background-image: url(smilies/emoticon_evilgrin.png); }
span.smiley.waii { background-image: url(smilies/emoticon_waii.png); }
span.smiley.unhappy { background-image: url(smilies/emoticon_unhappy.png); }