section, article, header { display: block; }
#templates { display: none; }

html, body { margin: 0; padding: 0; }
body { overflow: hidden; font-family: ubuntu, sans-serif; color: #333; }

body > nav { position: absolute; z-index: 2; top: 0; right: 0; margin: 0; padding: 0.5em; color: #ddd; background: hsl(0, 0%, 20%); border-radius: 0 0 0 10px; }
body > section#map { position: relative; z-index: 1; width: 100%; height: 100%; }
body > section#map .entry { position: absolute; }

/* navigation */
body > nav > ul {
	display: inline-block; margin: 0; padding: 0; list-style: none;
	
	li { display: inline-block; width: 16px; height: 16px; text-indent: -10000px; background-repeat: no-repeat; cursor: pointer; }
	li.new.note { background-image: url(/styles/icons/note_add.png); }
	li.new.idea { background-image: url(/styles/icons/lightbulb_add.png); }
	li.new.plain { background-image: url(/styles/icons/map_add.png); }
	li.reset-zoom { background-image: url(/styles/icons/zoom.png); }
	
	li:hover { background-color: hsla(0, 0%, 100%, 0.25); border-radius: 3px; }
}


.entry { position: relative; z-index: 1; margin: 0; padding: 10px;
	border-radius: 5px; border-width: 3px; border-style: solid; }
.entry::before { content: ''; position: absolute; z-index: -1; top: 0; left: 0; bottom: 0; right: 0;
	border-radius: 3px; border-width: 1px; border-style: solid; }

.entry.editing { min-width: 20em; min-height: 20em; }
.entry.editing > textarea { font-size: inherit; font-family: sans-serif;
	position: absolute; top: 2em; left: 0;
	margin: 0; padding: 5px; border: none;
	background-color: inherit; }

.entry > div > *:first-child { margin-top: 0; }
.entry > div > *:last-child { margin-bottom: 0; }

article.entry { font-size: 0.77em; }
article.entry > header > h1 { font-size: 1em; }
article.entry > header > ul.tags { font-size: 0.9em; }


.entry > header { display: table; margin: -10px 24px 10px -10px; padding: 0.2em 0.4em 0.2em 25px;
	border-width: 1px; border-style: solid; border-radius: 5px 0 5px 0;
	background: url(/styles/icons/map.png) no-repeat 4px 50%; }
/* the special hover styles will override the color scheme styles because the selector is more specific */
.entry > header:not(:hover) { border-top-color: transparent !important; border-left-color: transparent !important; border-top-left-radius: 0; }

/* entity title and tag list */
.entry > header > h1 { font-size: 1.25em; margin: 0; padding: 0; }
.entry > header > ul.tags { margin: 0; padding: 0; list-style: none; }
.entry > header > ul.tags::before { content: 'Tags: '; }
.entry > header > ul.tags > li { display: inline; }
.entry > header > ul.tags > li::after { content: ', '; }
.entry > header > ul.tags > li:last-child::after { content: ''; }

/* radial action menu */
.entry > aside > ul.actions {
	position: absolute; right: 0; top: 0; width: 24px; height: 24px; margin: 0; padding: 0;
	list-style: none; border-width: 0 0 1px 1px; border-style: solid; border-radius: 0 0 0 5px;
	background: url(/styles/icons/wrench.png) no-repeat center center;
	
	li { display: none; }
}

.entry > aside > ul.actions:hover {
	z-index: 1; width: 72px; height: 72px; right: -24px; top: -24px;
	border-width: 0; border-radius: 50%;
	
	&::before { content: ''; position: absolute; z-index: 3; left: 22px; top: 22px; right: 22px; bottom: 22px;
		border-style: solid; border-width: 1px; border-color: inherit; border-radius: 50%; background: inherit; }
	
	li { position: absolute; box-sizing: border-box; width: 100%; height: 50%;
		text-indent: -10000px; border-style: solid; border-width: 1px; border-color: inherit; cursor: pointer; }
	li { -moz-box-sizing: border-box; }
	li:hover { z-index: 2; }
	
	li.create, li.edit, li.save { top: 0; left: 0; border-radius: 50% 50% 0 0 / 100% 100% 0 0; height: 37px; }
	li.abort, li.close, li.delete { bottom: 0; left: 0; border-radius: 0 0 50% 50% / 0 0 100% 100%; }
	
	li.create { background: url(/styles/icons/disk.png) no-repeat 50% 3px; }
	li.abort { background: url(/styles/icons/cross.png) no-repeat 50% 16px; }
	li.edit { background: url(/styles/icons/pencil.png) no-repeat 50% 3px; }
	li.save { background: url(/styles/icons/disk.png) no-repeat 50% 3px; }
	li.close { background: url(/styles/icons/cross.png) no-repeat 50% 16px; }
	li.delete { background: url(/styles/icons/delete.png) no-repeat 50% 16px; }
}


/* states of the radial menu (edit menu, create menu, etc.) */
.entry > aside > ul.actions:hover > li { display: block; }
.entry > aside > ul.actions:not(.editing):not(.creating) > li:not(.edit):not(.delete) { display: none; }
.entry > aside > ul.actions.editing > li:not(.save):not(.close) { display: none; }
.entry > aside > ul.actions.creating > li:not(.create):not(.abort) { display: none; }


/* color schemes for entries */
@mixin entry-color-scheme($class, $base-color, $icon) {
	$entry-background: change-color($base-color, $lightness: 95%);
	$entry-border: change-color($base-color, $lightness: 75%);
	$content-border: change-color($base-color, $lightness: 50%);
	$hover-background: lighten($entry-border, 10%);
	$hover-border: lighten($content-border, 10%);
	$active-background: darken($entry-border, 10%);
	$active-border: darken($content-border, 10%);
	
	.entry.#{$class} {
		background-color: $entry-background; border-color: $entry-border;
		
		& > header, & > aside > ul.actions { background-color: $entry-border; }
		&::before, & > header, & > aside > ul.actions { border-color: $content-border; }
		& > header:hover, & > aside > ul.actions:hover > li:hover { border-color: $hover-border; background-color: $hover-background; }
		& > header:active, & > aside > ul.actions:hover > li:active { border-color: $active-border; background-color: $active-background; }
		
		& > header { background-image: $icon; }
	}
}

@include entry-color-scheme( 'entry', hsl(0, 0%, 50%), url(/styles/icons/map.png) );
@include entry-color-scheme( 'idea', hsl(80, 60%, 50%), url(/styles/icons/lightbulb.png) );
@include entry-color-scheme( 'note', hsl(50, 85%, 50%), url(/styles/icons/note.png) );

/*
.entry { background-color: hsl(0, 0%, 95%); border-color: hsl(0, 0%, 75%); }
.entry > header, .entry > aside > ul.actions { background-color: hsl(0, 0%, 75%); }
.entry::before, .entry > header, .entry > aside > ul.actions { border-color: hsl(0, 0%, 50%); }
.entry > header:hover, .entry > aside > ul.actions:hover > li:hover { border-color: hsl(0, 0%, 60%); background-color: hsl(0, 0%, 80%); }
.entry > header:active, .entry > aside > ul.actions:hover > li:active { border-color: hsl(120, 50%, 60%); background-color: hsl(120, 25%, 80%); }
*/

/* ideas (green) */
/*
.entry.idea { background-color: hsl(80, 60%, 95%); border-color: hsl(80, 50%, 75%); }
.entry.idea > header, .entry.idea > aside > ul.actions { background-color: hsl(80, 50%, 75%); }
.entry.idea > header { background-image: url(/styles/icons/lightbulb.png); }
.entry.idea::before, .entry.idea > header, .entry.idea > aside > ul.actions { border-color: hsl(80, 30%, 50%); }
.entry.idea > header:hover, .entry.idea > aside > ul.actions:hover > li:hover { border-color: hsl(80, 50%, 60%); background-color: hsl(80, 50%, 85%);  }
.entry.idea > header:active, .entry.idea > aside > ul.actions:hover > li:active { border-color: hsl(120, 50%, 60%); background-color: hsl(120, 25%, 80%); }
*/

/* notes (yellow) */
/*
.entry.note { background-color: hsl(50, 85%, 95%); border-color: hsl(50, 85%, 70%); }
.entry.note > header, .entry.note > aside > ul.actions { background-color: hsl(50, 85%, 70%); }
.entry.note > header { background-image: url(/styles/icons/note.png); }
.entry.note::before, .entry.note > header, .entry.note > aside > ul.actions { border-color: hsl(50, 40%, 60%); }
.entry.note > header:hover, .entry.note > aside > ul.actions:hover > li:hover { border-color: hsl(50, 90%, 60%); background-color: hsl(50, 90%, 80%); }
.entry.note > header:active, .entry.note > aside > ul.actions:hover > li:active { border-color: hsl(50, 70%, 60%); background-color: hsl(50, 90%, 85%); }
*/


/*
article.entry.idea { background-color: #f6fbea; border-color: #c2de88; }
article.entry.note { background-color: #fbfbeb; border-color: #e9e69b; }
article.entry > header { margin: 0; padding: 0 0 1px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
article.entry > header > h3 { font-size: 1em; margin: -0.5em -0.5em 0 -0.5em; padding: 0.5em 0.5em 0 0.5em; font-weight: bold; }
article.entry > header > ul { margin: 0; padding: 0 0 0 16px; list-style: none; color: gray; background: left center url(/styles/icons/tags.png) no-repeat; }
article.entry > header > ul > li { display: inline; }
article.entry > header > ul > li::after { content: ', '; }
article.entry > header > ul > li:last-child::after { content: ''; }

section#map.moving { cursor: move; }
section#map .moving { opacity: 0.5; cursor: move; }
*/
/*section#map .movable:hover { background-color: rgba(0, 0, 0, 0.1); }*/

section#map .expander { position: absolute; right: 2px; bottom: 2px; width: 10px; height: 10px;
	background: url(/styles/resizer.png) no-repeat right bottom; cursor: se-resize; }